*{margin: 0;padding: 0;}
		body{
			font-size: 12px;
			color: #757575;
			background-color: #f0f1f1;
		}
		a{
			text-decoration: none;
			font-size: 12px;
			color: #757575;
		}
		li{
			list-style: none;
		}
		.top1 li{
			float: left;
			height: 48px;
			margin-right: 5px;
		}
		.head{
			background-color: #323232;
			line-height: 48px;
			position: fixed;
			top: 0;
			left: 0;
			width: 100%;
			z-index: 2;
		}
		.top{
			width: 1110px;
			margin: 0 auto;
			text-align: center;
			height: 48px;
		}
		.top1{
			float: left;
		}
		.top1 .tu1{
			padding-left: 0px;
			padding-right: 0px;
			margin-right: 10px;
		}
		.top1 a{
			display: block;
			padding: 0 16px;
		}
		.tu2{
			padding-top: 10px;
			height: 38px;
		}
		.tubiao{
			height: 48px;
			margin-left: 12px;
		}
		.tubiao a{display: inline-block;}
		.tubiao div{
			background-repeat: no-repeat;
			height: 42px;
			width: 22px;
			float: left;
			margin-top: 6px;
			transition:all 0.5s;
			background-position: center;
		}
		.top2{
			float: right;
			height: 48px;
			text-align: center;
		}
		.top2 li{
			float: left;
		}
		.tu3{
			margin-left: 0px;
		}
		.tu3:hover a{
			color: #f0f1f1;
			text-decoration: underline;
		}
		.tu4{
			background-image: url(img/qq.png);
		}
		.tu5{
			background-image: url(img/weibo.png);
		}
		.tu6{
			background-image: url(img/weixin.png);
		}
		.tu7{
			background-image: url(img/mal.png);
		}
		.top1 li:hover{
			background-color: #dd4012;
		}
		.top1 li:hover a{
			color: #fff;
		}
		.top1 .jiejue{
			background-color: #dd4012;
		}
		.top1 .jiejue a{
			color: #fff;
		}
		.top2 .tu4:hover{
			background-image: url(img/qq2.png);
		}
		.top2 .tu5:hover{
			background-image: url(img/weibo2.png);
		}
		.top2 .tu6:hover{
			background-image: url(img/weixin2.png);
		}
		.top2 .tu7:hover{
			background-image: url(img/mal2.png);
		}
		.photo{
			background-image: url(img/beijing.png);
			background-repeat: no-repeat;
			height: 28px;
			padding-top: 194px;
			margin-top: 48px;
		}
		.photo2{
			background-image: url(img/beijing2.png);
			background-repeat: no-repeat;
			background-position: 60%;
			height: 28px;
			padding-top: 194px;
			margin-top: 48px;
		}
		.photo3{
			background-image: url(img/beijing3.png);
			background-repeat: no-repeat;
			height: 28px;
			padding-top: 194px;
			margin-top: 48px;
		}
		.photo4{
			background-image: url(img/beijing4.png);
			background-repeat: no-repeat;
			background-position: 40%;
			height: 28px;
			padding-top: 172px;
			margin-top: 48px;
		}
		.photo5{
			background-image: url(img/beijing5.png);
			background-repeat: no-repeat;
			background-position: 50%;
			height: 28px;
			padding-top: 192px;
			margin-top: 48px;
		}
		.moddle{
			background-color:rgba(0,0,0,0.3);
			height: 28px;
		}
		.moddle1{
			width: 1110px;
			margin: 0 auto;
			line-height: 28px;
		}
		.moddle1 a,.moddle1 span{
			color: #e3e3e3;
		}
		.moddle1 a:hover{
			color: #dd4012;
			text-decoration: underline;
		}
		.moddle2{
			margin-right: 5px;
		}
		.moddle3{
			margin-left: 5px;
		}
		.face{
			padding-top: 25px;
			width: 1110px;
			margin: 0 auto;
			overflow: hidden;
		}
		.face1 li{
			width: 78px;
			height: 27px;
			float: left;
			text-align: center;
			background-color: #fff;
			margin-right: 5px;
			line-height: 27px;
		}
		.face1 a{
			display: block;
		}
		.face1 li:hover a{
			background-color: #636363;
			color: #fff;
		}
		.clear{
			clear: both;
		}
		.face .face2{
			background-color: #636363;
		}
		.face .face2 a{
			color: #fff;
		}
		.face3{
			padding-top: 19px;
		}
		.face4{
			font-size: 12px;
		}
		.face5{
			font-size: 41px;
			font-weight: bold;
		}
		.face6{
			width: 110px;
			height: 139px;
			border-top: 1px solid #e2e2e2;
			float: left;
		}
		.eyes{
			width: 1110px;
			margin: 0 auto;
			margin-top: 27px;
		}
		.eyes1{
			width: 259px;
			background-color: #fff;
			border: 1px solid #fff;
			float: left;
			margin-right: 21px;
			margin-bottom: 33px;
			transition:all 0.8s;
		}
		.eyes1 img{
			width: 100%;
		}
		.eyes2{
			font-size: 16px;
			color: #000;
			padding: 15px 0;
			border-bottom: 1px solid #ddd;
			padding-left: 14px;
		}
		.eyes3{
			margin-top: 10px;
			padding-bottom: 16px;
			padding-left: 14px;
		}
		.eyes4{
			margin-right: 0px;
		}
		.eyes1:hover{
			border: 1px solid #dd4012;
			transform:scale(1.1);
		}
		.leg{
			width: 242px;
			margin:0 auto;
			margin-bottom: 41px;
			overflow: hidden;
		}
		.leg li{
			float: left;
			width: 36px;
			height: 36px;
			background-color: #fff;
			margin-right: 5px;
			line-height: 36px;
			text-align: center;
		}
		.leg a{
			display: block;
		}
		.leg .leg1{
			margin-right: 0px;
		}
		.leg li:hover{
			background-color: #dd4012;
		}
		.leg li:hover a{
			color: #fff;
		}
		.foot{
			background-color: #323232;
		}
		.banxin{
			width: 1110px;
			margin: 0 auto;
		}
		.left{
			float: left;
		}
		.left img{
			margin-top: 12px;
		}
		.right{
			float: right;
		}
		.right1{
			padding-top: 28px;
			overflow: hidden;
		}
		.right1 p{
			float: right;
			margin-bottom: 10px;
		}
		.right1 a{
			color: #999999;
			margin-left: 20px;
		}
		.right1 a:hover{
			text-decoration: underline;
			color: #dd4012;
		}
		.right2{
			padding-bottom: 18px;
		}
		.right2 a,.right2 span{
			margin-left: 10px;
		}
		.right2 a:hover{
			color: #dd4012;
		}
		.xin{
			width: 110px;
			height: 159px;
			border-top: 1px solid #e2e2e2;
			float: left;
			background-image: url(img/图2-1.png);
			background-repeat:no-repeat;
		}
		.xin p{
			color: #999999;
			text-align: center;
		}
		.nose{
			width: 950px;
			height: 121px;
			float: right;
			border-top: 1px solid #e2e2e2;
			padding-top: 19px;
			padding-bottom: 19px;
			padding-left: 11px;
		}          
		.nose1{
			float: left;
			height: 100px;
			border: 1px solid #f0f1f1;
		}
		.nose2{
			float: left;
			width: 706px;
			margin-left: 22px;
		}
		.nose2 h1{
			color: #dd4012;
			font-size: 18px;
			font-weight: bold;
		}
		.nose2 a{
			margin-left: 20px;
		}
		.nose2 a:hover{
			color: #dd4012;
		}
		.nose3{
			padding: 17px 0;
			color: #333333;
		}
		.nose4{
			margin-right: 0px;
		}
		.nose1:hover{
			border: 1px solid #dd4012;
		}
		.noxin{
			width: 110px;
			height: 159px;
			border-top: 1px solid #e2e2e2;
			float: left;
		}
		.noxin p{
			text-align: center;
		}
		.hair{
			width: 1110px;
			background-color: #fff;
			margin: 0 auto;
			margin-top: 96px;
			margin-bottom: 33px;
		}
		.hair4 h1{
			color: #333;
			font-size: 18px;
		}
		.hair1{
			overflow: hidden;
			margin-bottom: 8px;
		}
		.hair1 span,.hair1 p{
			float: left;
			margin-right: 10px;
		}
		.hair2{
			color: #333;
		}
		.hair1 .hair3{
			float: right;
		}
		.hair4{
			width: 1000px;
			padding: 42px 58px 60px 52px;
		}
		.hair4 h1{
			margin-bottom: 22px;
		}
		.hair4 img{
			border-top: 1px solid #f0f1f1;
			padding-top: 33px;
			margin-bottom: 32px;
		}
		.hair5{
			border-bottom: 1px solid #f0f1f1;
			padding-bottom: 12px;
		}
		.hair5 p{
			color: #333;
			margin-bottom: 32px;
			font-size: 14px;
		}
		.hair5 .long{
			line-height: 28px;
		}
		.mouth{
			margin-top: 18px;
		}
		.mouth a{
			color: #333;
		}
		.mouth1{
			float: left;
		}
		.mouth2{
			float: right;
		}
		.mouth a:hover{
			color: #dd4012;
			text-decoration: underline;
		}
		.tooth{
			width: 1110px;
			margin: 45px auto 30px auto;
		}
		.tooth1{
			width: 200px;
			background-color: #000;
			float: left;
		}
		.tooth1 li{
			border-bottom: 1px solid #1b1c1e;
			line-height: 36px;
		}
		.tooth1 a{
			font-size: 14px;
			color: #909090;
			padding-left: 35px;
			display: block;
		}
		.tooth1 a:hover{
			background-color: #dd4012;
			color: #fff;
		}
		.tooth2{
			background-color: #dd4012;
		}
		.tooth2 a{
			color: #fff;
		}
		.tooth3{
			float: right;
		}
		.ear{
			width: 1110px;
			margin: 45px auto;
		}
		.ear1{
			border-bottom: 1px solid #dd4012;
			margin-bottom: 40px;
		}
		.ear1 li{
			float: left;
			margin-right: 15px;
			background-color: #cdcdcd;
			width: 104px;
			line-height: 32px;
			text-align: center;
		}
		.ear1 a{
			color: #333;
			font-size: 14px;
			display: block;
		}
		.ear1 a:hover{
			color: #fff;
			background-color: #dd4012;
		}
		.ear1 .ear2{
			background-color: #dd4012;
		}
		.ear1 .ear2 a{
			color: #fff;
		}
		.ear h1{
			font-size: 20px;
			color: #dd4012;
			margin-bottom: 24px;
		}
		.ear p{
			font-size: 14px;
			color: #333;
			line-height: 34px;
		}
		.ear3{
			text-indent: 28px;
			margin-bottom: 42px;
		}
		.ear img{
			width: 1110px;
			margin-top: 32px;
		}
		.neck img{
			width: 200px;
			border: 1px solid #fff;
			margin-top: 0;
			margin-right: 25px;
			margin-bottom: 30px;
			float: left;
		}
		.neck img:hover{
			border: 1px solid #dd4012;
			transform: scale(1.1);
		}
		.neck .neck1{
			margin-right: 0;
		}
		.neck2{
			text-align: center;
		}
		.neck2 span{
			display: inline-block;
			width: 6px;
			height: 6px;
			background-color: #dd4012;
			border-radius: 50%;
			margin-right: 22px;
		}
		.neck2 .neck3{
			margin-right: 0;
		}
		.arm{
			width: 1110px;
			margin: 0 auto;
			text-align: center;
			margin-bottom: 40px;
		}
		.arm li{
			float: left;
			background-color: #cdcdcd;
			margin-right: 2px;
			margin-top: 32px;
		}
		.arm a{
			font-size: 14px;
			color: #333;
			display: block;
			padding: 12px 18px;
		}
		.arm a:hover{
			background-color: #dd4012;
			color: #fff;
		}
		.arm .arm1{
			background-color: #dd4012;
		}
		.arm1 a{
			color: #fff;
		}
		.arm2 h1{
			font-size: 30px;
			color: #666;
			margin: 40px auto;
		}
		.arm2 h2{
			color: #333;
			font-size: 22px;
			margin: 40px auto;
		}
		.arm2 img{
			width: 100%;
		}
		.nav{
			width: 1110px;
			margin: 0 auto;
		}
		.nav1{
			width: 540px;
			float: left;
		}
		.nav1 img{
			width: 100%;
		}
		.nav2{
			width: 520px;
			float: right;
		}
		.nav2 p{
			font-size: 14px;
			color: #333;
			text-indent: 28px;
			margin-bottom: 30px;
			line-height: 24px;
		}
		.nav2 span{
			color: #dd4012;
		}
		

                                              
		









